<h1>Listing Questions</h1>
<%= link_to 'All Questions', controller: 'questions' %><br><br>

<%= link_to 'New question', new_question_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td><%= question.title %></td>
      <td><%= question.text %></td>
       <td><%= link_to 'Show', question_path(question) %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    </tr>
  <% end %>
</table>
